<!DOCTYPE html>
<html>
<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

<%- include ('./partials/header.ejs') %>
<h1>YOUR PROFILE</h1>

    <p>Username: <%= user.username %></p>
    <p>First Name: <%= user.firstName %></p>
    <p>Last Name: <%= user.lastName %></p>
    <p>Email: <%= user.email %></p>
    <button id="editButton">Edit Profile</button>
    <script>
        document.getElementById("editButton").addEventListener("click", function() {
            document.getElementById("editForm").classList.toggle("hidden");
        });

    </script>
    <div id="editForm" class="hidden">
        <input type="text" name="username" placeholder="Username" value="<%= user.username %>">
        <input type="text" name="firstName" placeholder="First Name" value="<%= user.firstName %>">
        <input type="text" name="lastName" placeholder="Last Name" value="<%= user.lastName %>">
        <input type="email" name="email" placeholder="Email" value="<%= user.email %>">
        <button id="submit">Save Changes</button>
    </div>

    <script src="scripts/updateProfile.js"></script>
    <script>
        document.getElementById("submit").addEventListener("click", function() {
           console.log ("submit clicked");
            var username = document.querySelector("input[name='username']").value;
            var firstName = document.querySelector("input[name='firstName']").value;
            var lastName = document.querySelector("input[name='lastName']").value;
            var email = document.querySelector("input[name='email']").value;
            updateProfile("/profile", username, firstName, lastName, email);
            console.log ("updateProfile called");
        });
    </script>

<%- include ('./partials/footer.ejs') %>


<script src="/scripts/favorites.js"></script>
</body>
</html>