<!DOCTYPE html>
<html>
<head>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>

<%- include ('./partials/header.ejs') %>
<h1>YOUR PROFILE</h1>

    <p>Username: <%= user.username %></p>
    <p>First Name: <%= user.firstName %></p>
    <p>Last Name: <%= user.lastName %></p>
    <p>Email: <%= user.email %></p>
    <button id="editButton">Edit Profile</button>



<%- include ('./partials/footer.ejs') %>



</body>
</html>